@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
    
html{
    font-size: 0.625rem;
    scroll-behavior: smooth;
}
    
body{
    font-size: 1.6rem;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px #ffffff99;
    background-color: #1f1f1d;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
  }
  
//   Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
  }



// NAVIGATION
.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            border-left: solid $color-primary 5px;
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1, 0, 0, 1);
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-size: 30px;
                @include textStyles(capitalize);
                color: $color-primary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all 0.5s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }
        }
    }
}
.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 300;

    .menu {
        @extend %fullSpace;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform 0.5s;
        

        &-line {
            width: 100%;
            height: 4px;
            background-color: white;
            border-radius: 25rem;
            
            transform-origin: right;
            transition: all 0.5s 0.5s;
        }
    }
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}
.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

//HEADER
.header {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header.jpg);
    @include background;
    @include flexLayout;
    flex-direction: column;

    .down {
        position: absolute;
        margin: 0 auto;
        bottom: 5%;
    }
    .fa-chevron-down {
        font-size: 50px;
        color: #ffffff55;
    }

    .btn-link {
        text-decoration: none;

        .btn-shop {
            height: 50px;
            width: 200px;   
            font-size: $font-btn-md;
            @include btn;

            @media screen and (max-width: 576px) {
                font-size: $font-btn-sm;
                height: 35px;
                width: 125px;
            }
            @media screen and (min-width: 1400px) {
                font-size: $font-btn-lg;
                height: 75px;
                width: 300px;   
            }
        }
    }

    


    &-heading {
        color: rgb(216, 106, 38);
        font-size: $font-header-md;
        text-align: center;
        font-weight: 300;
        @media screen and (max-width: 576px) {
            font-size: $font-header-sm;
        }
        @media screen and (min-width: 1400px) {
            font-size: $font-header-lg;
        }
    }

    &-sub-heading {
        font-size: $font-sb-header-md;
        text-align: center;
        color: white;
        font-weight: 300;
        @media screen and (max-width: 576px) {
            font-size: $font-sb-header-sm;
        }
        @media screen and (min-width: 1400px) {
            font-size: $font-sb-header-lg;
        }
    }
}

// ABOUT
.about {
    height: auto;
    min-height: 25vh;
    width: 100vw;
    background-color: $color-primary;
    padding: 5rem 0;

    .body {
        @include width75center;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1.5rem;
        font-weight: 300;
        border-top: 7.5px solid $color-secondary;
        border-bottom: 7.5px solid $color-secondary;
        border-radius: 0.75rem;

        .text {
            color: #eee;
            font-size: $font-about-body-md;

            @media screen and (max-width: 576px) {
                font-size: $font-about-body-sm;
            }
            @media screen and (min-width: 1400px) {
                font-size: $font-about-body-lg;
            }
        }
    }

    &-heading {
        font-size: $font-about-header-md;
        font-weight: 300;
        color: white;
        text-align: center;
        margin-bottom: 2.5rem;

        @media screen and (max-width: 576px) {
            font-size: $font-about-header-sm;
        }
        @media screen and (min-width: 1400px) {
            font-size: $font-about-header-lg;
        }
    }
}

// SHOP
.shop {
    height: auto;
    width: 100vw;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 0 5rem 0;
    margin: 0 auto;

    .products {
        display: grid;
        @include width75center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 3.5rem;
        column-gap: 5rem;
        place-content: center;

        @media screen and (min-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .product {
        max-width: 325px;
        width: 100%;
        font-weight: 300;
        margin: 0 auto;

        &-img {
            @include aspectRatio(100%);
            object-fit: cover;
            display: block;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
        }
        

        &-info {
            background-color: white;
            color: black;
            padding: 1.5rem;
            border-bottom-left-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;

            .brand {
                width: 50px;

                img {
                    @include aspectRatio(100%);
                    object-fit: contain;
                }
            }

            .spec {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1rem;
            }
            .color {
                border-radius: 50%;
                @include aspectRatio(20px);
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.35);
            }
        }
        &-name {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        &-price {
            font-size: 2rem;
            font-weight: 300;
        }
        .btn-atc {
            @include btn($marginTop: 1rem);
            width: 100px;
            height: 35px;
            font-size: 1.5rem;
        }
    }

        &-heading {
            font-size: $font-about-header-md;

            @media screen and (max-width: 576px) {
                font-size: $font-about-header-sm;
            }
            @media screen and (min-width: 1400px) {
                font-size: $font-about-header-lg;
            }

            
            @extend .about-heading;
        }
}

// CONTACT
.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/contact.jpg);
    @include background;
    min-height: 75vh;
    width: 100vw;
    color: white;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-heading {
        @extend .about-heading;
    }


    form {
        @include width75center;
    }


    input {
        display: grid;
        margin-bottom: 2.5rem;
        width: 100%;
        padding: 1rem;
        @include noBO;
        border-radius: 0.75rem;
    }

    .message {
        @extend input;
        height: 25vh;
    }

    .btn-send {
        @include btn($borderRadius: 0.75rem, $marginTop: 0);
        width: 100%;
        height: 35px;
        font-size: 1.5rem;
    }
}

// FOOTER
.footer {
    background-color: #fff;
    border-top: 1rem solid $color-primary;
    height: auto;
    padding: 2.5rem;

    .copyright {
        text-align: center;
        margin-top: 1rem;
        font-size: $font-copyright-md;
        font-weight: 300;

        @media screen and (max-width: 576px) {
            font-size: $font-copyright-sm;
        }
        @media screen and (min-width: 1400px) {
            font-size: $font-copyright-lg;
        }
    }

    .header-heading {
        padding: 0;
        font-size: $footer-header-md;

        @media screen and (max-width: 576px) {
            font-size: $footer-header-sm;
        }
        @media screen and (min-width: 1400px) {
            font-size: $footer-header-lg;
        }
    }

    .socials {
        .social-list {
            max-width: 70%;
            display: flex;
            justify-content: center;
            gap: 2em;
            margin: 0 auto;

            &-item {
                list-style: none;
            }

            &-link {
                text-decoration: none;
                color: $color-primary;
                font-size: $socials-md;

                @media screen and (max-width: 576px) {
                    font-size: $socials-sm;
                }
                @media screen and (min-width: 1400px) {
                    font-size: $socials-lg;
                }
            }
        }
    }
}










